<div class="item-card" [routerLink]="['/home/item', shopItem?.id]">
  <div class="item-card__image-wrap">
    <img class="item-card__image" [src]="shopItem?.images?.[0]" [alt]="shopItem?.name" onerror="this.src='/assets/images/ingalabesi-logo.png'">
  </div>
  <div class="item-card__body">
    <p class="item-card__name">{{shopItem?.name}}</p>
    <p class="item-card__price">R{{shopItem?.price | number:'1.2-2'}}</p>
  </div>
  <button class="item-card__add" type="button" [attr.aria-label]="'Add ' + shopItem?.name + ' to cart'" (click)="$event.stopPropagation()">+</button>
</div>
