<div class="mt-5 d-flex justify-content-sm-center justify-content-md-start">
    <h3 class="page-header display-5">Payment</h3>
</div>
<div class="container">

    <div class="row">

        <div class="col-md-8 order-md-2 mb-5 mt-3">

            <div class="row mt-3">
                <div class="col-md-12">
                    <button class="btn btn-lg btn-block btn-primary bg-dark mt-5 shadow-sm" (click)="payWithYoco()">
                        Pay Now — R{{order?.totalAmount}}
                    </button>
                </div>
            </div>

        </div>
        <div *ngIf="order" class="col-md-4 order-md-2 mb-3">
            <h5 class="d-flex justify-content-between align-items-center mb-3 product">
                <span class="text-muted">Your Order</span>
            </h5>
            <ul class="list-group mb-3">
                <li *ngFor="let orderItem of order.basket.items"
                    class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{orderItem.name}}</h6>
                        <small class="text-muted">{{orderItem.description}}</small>
                    </div>
                    <span class="text-muted">{{orderItem.price | currency:'R'}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <div class="my-0">Shipping and Processing</div>
                        <small class="text-muted">Shipping to {{order.shippingData.toAddress}}</small>
                    </div>
                    <span class="text-muted" *ngIf="order.freeDelivery">FREE</span>
                    <span class="text-muted"*ngIf="!order.freeDelivery">{{order.shippingData.fee + order.serviceFee | currency:'R'}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (ZAR)</span>
                    <strong>R{{order.totalAmount}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
